/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Code */
body {
  background-color: #202124;
  font-family: Arial, Helvetica, sans-serif;
}

#options {
  height: 6vh;
  width: 100vw;
}
#options ul {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
#options ul li {
  margin: 30px 5px 10px;
  padding: 10px;
}
#options ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
#options ul li img {
  width: 75px;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}
header h3 {
  margin-left: 50px;
  font-size: 20px;
  color: #f28b82;
}

main {
  width: 100vw;
  height: 30vh;
  border-bottom: 1px solid gray;
}
main form {
  height: 80%;
}
main form #container {
  margin-left: 50px;
  width: 65%;
  height: 95%;
  padding-top: 30px;
  display: grid;
  grid-template-columns: 60% 40%;
}
main form #container #search {
  display: flex;
  flex-direction: column;
}
main form #container #search .head {
  font-size: 19px;
  color: #e8eaed;
}
main form #container #search .input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 15px;
}
main form #container #search .input input[type=text] {
  width: 70%;
  margin-right: 15px;
  height: 25px;
  background-color: #202124;
  border: 1px solid #5f6368;
}
main form #container #search .input p {
  color: #bdc1c6;
  font-size: 15px;
}
main form #container #instruction {
  display: flex;
  flex-direction: column;
}
main form #container #instruction .head {
  font-size: 19px;
  color: #e8eaed;
  margin-bottom: 15px;
}
main form #container #instruction .description {
  font-size: 13px;
  display: flex;
  text-align: center;
  color: #969ba1;
  align-items: center;
  height: 13%;
  margin-bottom: 16px;
  margin-left: 10px;
}
main form #container #instruction .description i {
  color: #dadce0;
}
main form input[type=submit] {
  margin-top: 0px;
  margin-left: 34.2%;
  padding: 5px 10px;
  background-color: #8ab4f8;
  border: 1px solid #8ab4f8;
  border-radius: 2px;
}
main form input[type=submit]:hover {
  border: 1px solid #3079ed;
}/*# sourceMappingURL=style-advance.css.map */